<table width=100% height=1200px>
	<tr height=80%>
		<td width=25%><table width=100% height=100% class=border>
				<tr height=5%>
					<td class="grayback"><div width=100%></div></td>
				</tr>
				<tr height=65%>
					<td>dsd</td>
				</tr>
				<tr height=30%>
					<td class="grayback"></td>
				</tr>
			</table></td>
		<td width=75%><table width=100% height=100%>
				<tr height=20%>
					<td colspan=2><table width=100% height=100%>
							<tr>
								<td width=20%><a href="#" class="glass tandoori">Tandoori</a></td>
								<td width=20%><a href="#" class="glass chicken">Chicken</a></td>
								<td width=20%><a href="#" class="glass lamb">Lamb/Goat</a></td>
								<td width=20%><a href="#" class="glass beef">Beef</a></td>
								<td width=20%><a href="#" class="glass veg">vegetable</a></td>
							</tr>
							<tr>
								<td width=20%><a href="#" class="glass rice">Rice</a></td>
								<td width=20%><a href="#" class="glass special">Speciality</a></td>
								<td width=20%><a href="#" class="glass naan">Naan</a></td>
								<td width=20%><a href="#" class="glass drink">Soft Drinks</a></td>
								<td width=20%><a href="#" class="glass salad">Salad</a></td>
							</tr>
							<tr>
								<td width=20%><a href="#" class="glass gravy">Gravy</a></td>
								<td width=20%><a href="#" class="glass desert">Desert</a></td>
								<td width=20%><a href="#" class="glass roll">ROLL</a></td>
								<td width=40% colspan=2></td>
							</tr>
						</table></td>
				</tr>
				<tr height=80%>
					<td width=15%><table width=100% height=100%>
							<tr height=15%>
								<td><a href="#" class="glass pageBtn1">1/2</a></td>
							</tr>
							<tr height=15%>
								<td><a href="#" class="glass pageBtn2">1/4</a></td>
							</tr>
							<tr height=55% rowspan=3>
								<td>ssss</td>
							</tr>
							<tr height=15%>
								<td><a href="#" class="glass openitem">Open Item</a></td>
							</tr>
						</table></td>
					<td width=85% class="grayback"></td>
				</tr>
			</table></td>
	</tr>
	<tr height=20%>
		<td colspan=2>
		<table width=100% height=20%><tr><td width=90%>
		<table height=100% width=100%>
				<tr>
					<td>
						<table width=100% height=100%>
							<tr>
								<td width=11%><a href="#" class="glass remove">Remove Item</a></td>
								<td width=10%><a href="#" class="glass split">Split Check</a></td>
								<td width=9%><a href="#" class="glass qty">Qty</a></td>
								<td width=10%><a href="#" class="glass add">Add Person</a></td>
								<td width=10%><a href="#" class="glass open">Open Item</a></td>
								<td width=14%><a href="#" class="glass showticket">Show Ticket</a></td>
								<td width=12%><a href="#" class="glass togo">To Go</a></td>
								<td width=12%><a href="#" class="glass printtab">Print Tab</a></td>
								<td width=12%><a href="#" class="glass send">Send</a></td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td><table width=100% height=100%>
							<tr>
							    <td width=11%></td>
								<td width=9%><a href="#" class="glass void">Void Item</a></td>
								<td width=10%><a href="#" class="glass tax">Tax Exempt</a></td>
								<td width=11%><a href="#" class="glass showopen">Show Open Checks</a></td>
								<td width=11%><a href="#" class="glass showclose">Show Closed Checks</a></td>
								<td width=14%><a href="#" class="glass openclose">Open Closed Check</a></td>
								<td width=10%><a href="#" class="glass disc">Disc 10 %</a></td>
								<td width=6%><a href="#" class="glass merge">Merge Check</a></td>
								<td width=6%><a href="#" class="glass pay">Pay</a></td>
								<td width=12%><a href="#" class="glass report">Report</a></td>
							</tr>
						</table></td>
				</tr>
			</table>
			</td>
			<td width=10%><a href="#" class="glass exit">Exit</a></td></tr>
			</table>
			</td>
	</tr>

</table>
<!--  <a href="#" class="glass">My button</a>-->